<%= form_tag do %>

	<input id="q" name="q" type="text" />
	<input id ="submit" type="submit" value="submit" >

<% end %>

<div id="message"></div>

<table>
	<tr>
		<td id="t"> </td>
		<td id="e"> </td>
		<td id="l"> </td>
		<td id="ltt"> </td>
	</tr>

	<tr>
		<td id="c"> </td>
		<td id="cp"> </td>
		<td id="hi"> </td>
		<td id="low"> </td>

		<!-- rest of fields -->
	</tr>


</table>